{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign description = product.description %}
{% assign shipping = {{ 'product.shipping.content' | t }} %}
{% assign returns = {{ 'product.returns.content' | t }} %}
{% if product.description contains '---' %}
    {% assign description = product.description | split: '---' | first %}
    {% assign description_array = product.description | split: '---' %}

    {% assign productInfoKeys = 'Shipping|Returns' | split: '|' %}

    {% for key in productInfoKeys %}
        {% assign split_key = key | prepend: '~*~' | append: '~*~' %}
        {% if product.description contains split_key %}
            {% if key == 'Shipping' %}
                {% assign shipping = product.description | split: split_key | last | split: '---' | first %}
            {% else if key == 'Returns' %}
                {% assign returns = product.description | split: split_key | last | split: '---' | first %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}


<div id="page-product">

    <div class="wrapper grid" id="product-top">
        <div class="product-images">
            {% for image in product.images %}
                <div class="single-image">
                    <img src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}">

                </div>
            {% endfor %}


            {% if product.images.size > 1 %}
                <div class="image-counter">
                    <span class="js-current-slide">
                        1
                    </span>
                    of
                    {{ product.images.size }}
                </div>
            {% endif %}
        </div><!-- end product images -->

        <div class="product-actions">
            {% if collection %}
                <a href="{{ collection.url }}">{{ collection.title }}</a>
            {% endif %}

            <h1 class="product-title">{{ product.title }}</h1>
            {% include 'add-to-cart-form' %}
        </div><!-- end product actions -->

    </div><!-- end Product Top -->

    <div class="wrapper grid" id="product-bottom">
        <div class="info-section description">
            <h3>{{ 'product.description.title' | t }}</h3>
            <p class="product-description">{{ description }}</p>
        </div>


        <div class="info-section shipping">
            <h3>{{ 'product.shipping.title' | t }}</h3>
            <p>{{ shipping }}</p>
        </div>

        <div class="info-section returns">
            <h3>{{ 'product.returns.title' | t }}</h3>
            <p>{{ returns }}</p>
        </div>


    </div><!-- end product bottom -->

    {% if collection %}
        {% include 'product-more'  with collection: collection, limit: 6, exclude: product.handle %}
    {% endif %}


</div>
<!-- end Page Product -->